<div id="display">
  <p>Put a default pretty image here</p>
</div>
<div id="slider">


  <ul id="thumbnails">
      <% @photos.each do |p| %>
      <% if p.image_type == "landscape" %>
      <li class="nail"><%= image_tag "#{p.url}", class: "thumb crop" %></li>
      <% else if p.image_type == "portrait" %>
      <li class="nail"><%= image_tag "#{p.url}", class: "thumb crop portrait" %></li>
      <% end %>
      <% end %>
      <% end %>
  </ul>


</div>
  <btn id="click-back"><b>Back</b></btn>
  <btn id="click-forward"><b>Forward</b></btn>
