<div id="display">
  <p>Put a default pretty image here</p>
</div>
<div id="slider">
  <div id="click-back">Back</div>
  <ul id="thumbnails">
    <% @photos.each do |p| %>
      <% if p.image_type == "landscape" %>
        <li class="nail"><%= image_tag "#{p.url}", class: "thumb crop" %></li>
      <% else if p.image_type == "portrait" %>
        <li class="nail"><%= image_tag "#{p.url}", class: "thumb crop portrait" %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <div id="click-forward">Forward</div>
</div>
