<h1 id = "portal">Welcome to Erik's awesome website</h1>
<p>Replace oxalis picture with some simple image</p>
<div class = "image main">
<%= link_to(image_tag("oxalis_field.jpg"), {controller: "pages", action: "home"}, id: "enter") %> 
</div>
