
<h1 class="center">Contact me</h1>
<p id="message_sent" class="center">Find me in app/views/pages/contact.html.erb</p>
<%= form_tag({action: 'email_erik'}, :remote => true, 'data-type' => 'script') do %>
  <input id="mail_sender" name="mail_sender" type="email" placeholder="Your email address"/>
  <input id="mail_subject" name="mail_subject" type="text" placeholder="Subject"/>
  <textarea id="mail_content" name="mail_content" placeholder="Your message"></textarea>
  <input id="send_mail" type="submit" value="Send" />
<% end %>


<!--     form_tag({:action => 'tell_nancy'}, :remote => true, 'data-type' => 'script') do
          <input id="form_sender" name="form_sender" type="email" placeholder="Your email address"/>
          <input id='form_subject' name="form_subject" type="text" placeholder="Subject"/>
          <textarea id='form_body' name="form_body" placeholder="Your message…"></textarea>
          <input id="send_message" type="submit" value="Send" />
         end 
__>
