
<h1>Contact me</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<section>
  <ul class="thumbnails">
    <% @photos.each do |p| %>
      <% if p.image_type == "portrait" %>
        <li class="contain"><%= image_tag(p.url, class: "crop portrait center") %></li>
        <% else %>
        <li class="contain center"><%= image_tag(p.url, class: "crop center") %></li>
	<% end %>
      <% end %>
  </ul>
</section>
<br />
<section>
  <ul class="thumbnails">
    <% @photos.each do |p| %>
    <li class="span4"><%= image_tag(p.url, class: "crop portrait") %></li>
    <% end %>
  </ul>
</section>
