
<%= javascript_include_tag "entry" %>


<div id="bg">
  <% @photos.each do |photo| %>
  <% if photo.color_type == "color" %>
    <% if photo.image_type == "landscape" %>
      <%= image_tag photo.url, class: "color" %>
    <% end %>
  <% else %>
    <% if photo.image_type == "landscape" %>
      <%= image_tag photo.url, class: "black_and_white" %>
      <% end %>
    <% end %>
  <% end %>


</div>
</div>
<div id="button_holder">
  <div id="button_center">
    <btn id="color_button">color</btn>
    <btn id="black_and_white_button">black and white</btn>
  </div>
</div>
