<head>
<%= javascript_include_tag "entry" %>
</head>

<div id="bg">
  <% @photos.each do |photo| %>
    <%= image_tag photo.url %>
    
  <% end %>

</div>
</div>
<p id="color">Click here for color</p>
<p id="black_and_white">Click here for black and white</p>
