


/* general */

p {
  color: blue;
}

.center {
  text-align: center;
}

body {
  padding: 10px;
}

/* header */

header h3 {
   text-align: center;
}

.clear {
  clear: both;
}

/* footer */

footer {
  clear: both;
  padding: 20px;
  margin: 20px 5px 20px 5px;
} 
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    padding: 20px;
    margin-bottom: 60px;
}


/* entry page */

#portal  {
  color: red;
  width: 25px; 
  margin: 0 auto; 
  text-align: center; 
}

/* photos */
.image img{
  height: 250px;
  width: auto;
  border: 1px solid black;
  margin: 0 auto;
  display: block;
 }
.main img{
    height: 650px;
    -webkit-box-shadow: 5px 5px 10px #000;
    -moz-box-shadow: 5px 5px 10px #000;
    box-shadow: 5px 5px 10px #000;
}

.crop {
  height: auto;
  width: 100px;
  float: left;
  margin: 20px;
}

.portrait {
  height: 100px;
  width: auto;
} 

.description {
  border: 1px solid purple;
  padding: 10px;
  margin: 10px;
  text-align: center;
  position: static;
}


.group:before,
.group:after {
  content: "";
display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}
