/* GENERAL */

/*
@font-face {
    font-family: 'CaviarDreamsRegular';
    src: asset_url('<%= asset_path("CaviarDreams-webfont.eot") %>', font);
    src: url('<%= asset_path("CaviarDreams-webfont.woff") %>') format('woff'),
         url('CaviarDreams-webfont.ttf', font) format('truetype'),
         url('CaviarDreams-webfont.svg#CaviarDreamsRegular', font) format('svg');
    font-weight: normal;
    font-style: normal;

}

*/
h1 {
  color: gray;
/*  font-family: 'CaviarDreamsRegular'; */
}

p { 
  color: gray;
  /*font-family: 'CaviarDreamsRegular'; */
 /* background: rgba(0, 0, 0, 0.76);
  display: block;
   display: inline ??? */
}

.paragraphs {
  padding: 2px;
  color: gray;
  background: rgba(0, 0, 0, 0.76);
  width: 800px;
  position: relative;
  left: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}



.center {
  text-align: center;
}

body {
  padding: 10px;
  color: gray;
  background: gray;
  background-image: url("background_images/freeimage_5259089.jpg");
}

/* PROFILE PAGE */

#profile_pic {
  float: right;
  height: 180px;
  width: auto;
  margin: 25px;
}

.profile {
  margin-left: 180px;
  color: black;
}

/* COMISSIONS PAGE */

#comissions_pic {
  width: 450px;
  height: auto;
  float: right;
  margin: 25px;
}


.comissions {
  margin-left: 5px; 
}


/* CONTACT */

#mail_sender {
  float: right;
}

#mail_subject {
  float: right;
}

#mail_content {
 float: right;
}

#send_mail {
  float: right;
}

/* HEADER */

.clear {
  clear: both;
}

/* ENTRY PAGE */


/* from css-snippets.  problem: displaying anything on this page will be wacky.  */
#bg {
    position:fixed; 
    top:-50%; 
    left:-50%; 
    width:200%; 
    height:200%;
}
#bg img {
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:50%;
    min-height:50%;
}

#button_holder {
  position: fixed;
  height: 700px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#button_center {
  width: 250px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 0;
}  

#color_button {
  color: #D3D3D3;
  position: absolute;
  bottom: 10px;
  width: 70px;
  text-align: left;
  left: 1px;
  cursor: default;
  &:hover {
    opacity: .7;
  } 
}


#black_and_white_button {
  color: #D3D3D3;
  position: absolute;
  text-align: right;
  bottom: 10px;
  right: 1px;
  width: 130px;
  cursor: default; 
  &:hover {
    opacity: .7;
  }
}

.hidden {
  display: none;
}

.shown {
  display: block;
}


/* NAVIGATION */

.contains {
  position: absolute;
  width: 940px;
  height: 650px;
  padding: 0 150px;
}

.drop {
  display: none;
  position: absolute;
  top: 150px;
  left: 190px;
  height: 300px;
  width: 200px;
  z-index: 2;
  background: black;
  color: gray;
  background: rgba(0, 0, 0, 0.76); 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

  
.drop .navigation {
  height: 250px;
  width: 140px;
}


.holder {
  display: "";
  z-index: 2;
  position: absolute;
  top: -20px;
  left: -20px;
  height: 105%;
/*  height: 500px; */
  width: 210px; 
  margin-left: 0px;
  margin-top: 0px;
  background: black;
  color: gray;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.navigation {
  position: relative;
/*  height: 450px; */
  height: 80%;
  width: 175px;
  top: 25px;
  left: 25px;
}
/*
ul.nav {
  position: relative;
  height: 90%;
  width: 100px;
  height: 450px;
}
*/

.nav li {
  position: relative;
  left: -10px;
  font-size: 1.25em;
  padding-bottom: 50px;
  list-style: none;
  a {
    text-decoration: none;
    color: gray;
  } 
  &:hover {
    opacity: .7;
  }
}

#erik {
  padding-top: 10px;
  font-size: 1.5em;
  left: -20px;
}


#photographs {
  width: 250px;
}

/* SLIDER DISPLAY AREA */

#display {
  background: rgba(0, 0, 0, 0.76);
  width: 600px;
  height: 400px;
  float: right;
  margin-top: 35px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition-property: opacity;
  transition-duration: 3s;
  -webkit-transition: opacity 2s; /* Safari and Chrome */
  transition: opacity 2s;
  -moz-transition: opacity 2s; /* Firefox 4 */
  -webkit-transition: opacity 2s; /* Safari and Chrome */
  -o-transition: opacity 2s; /* Opera */
}
/*
#display:hover {
  opacity: .4
} */

div#slider {
  width: 600px;
  height: 150px;
  overflow: hidden;
  float: right;	
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/* THUMBNAILS */


ul#thumbnails {
  background: rgba(0, 0, 0, 0.76); 
  list-style: none;
  position: relative;
  width: 600px;
  height: 130px;
  overflow: hidden;
/*  margin: 0 auto; */
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 0px;
  & li:first-child {
   
  } 
}


#click-back {
  cursor: default;
  width: 55px;
  margin-top: 30px;
  position: absolute;
  top: 570px;
  left: 500px;
  color: black;
  &:hover {
    opacity: .7;
  }
}

#click-forward {
  cursor: default;
  color: black;
  position: absolute;
  width: 55px;
  margin-top: 30px;
  top: 570px;
  right: 180px;
  &:hover {
    opacity: .7;
  }
}

li.nail {
  float: left;
  margin: 4px 0 4px 0;
  padding: 2px;
  height: 110px;
/*  width: 110px;  */
  overflow: hidden;
  position: relative;
/*  transition: opacity .25s;
  -moz-transition: opacity .25s; 
  -webkit-transition: opacity 1s; 
  -o-transition: opacity 1s; */
}

li.nail:hover{
  opacity: .6;
}


.image img{
  height: 400px;
  width: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 0px;
 }

/* PHOTOS */

.index {
  display: none
}

.crop {
  height: auto;
  width: 100px;
  margin: 27px auto;
  display: block;  
}


.thumb {
  position: relative;
  bottom: 10px;
}

.slideshow {
  height: 350px;
  width: 500px;
  overflow: hidden;
}

.contain {
  width: 140px;
  height: 140px;
  background: gray;
 /* display: inline; */

}

.portrait {
  height: 90px;
  width: auto;
} 

.description {
  padding: 10px;
  margin: 10px 10px 30px 10px;
  text-align: center;
  position: static;
  display: block;
}



/* testing */

.border {
  border: 1px solid black;
}



/* slideshow 

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 600px;
  height: 400px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}


*/