


/* general */

p {
  color: blue;
}

body {
  padding: 10px;
}

/* header */

header h3 {
   text-align: center;
}



/* footer */

footer {
  clear: both;
  padding: 20px;
  margin: 20px 5px 20px 5px;
} 
footer ul {
    float: right;
    list-style: none;
}
footer ul li {
    float: left;
    padding: 20px;
    margin-bottom: 60px;
}


/* entry page */

#portal  {
  color: red;
  width: 25px; 
  margin: 0 auto; 
  text-align: center; 
}

/* photos */
.image img{
  height: 250px;
  width: auto;
  border: 1px solid black;
  margin: 0 auto;
  display: block;
}

.photo_container {
  width: auto;
}